@charset "utf-8";

#main_wrap,
#wrap,
#sub_wrap{
	position:absolute !important;
	left:-999999em !important;
	top:-99999em !important;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
	}
.ie_06{
	text-align:center;
	margin-top:200px;
	padding:20px;
	border:1px solid #cecece;
	}
.ie_06 > p{
	font-size:13px;
	line-height:21px;
	font-weight:bold;
	font-family:'굴림';
	}
.btn_update{
	display:inline-block;
	padding:10px;
	margin-top:10px;
	background:#2c5ab0;
	color:#ffffff !important;
	font-size:13px;
	font-weight:bold;
	font-family:'굴림';
	}
.btn_update:hover,
.btn_update:focus{
	text-decoration:underline;
	}