@charset "UTF-8";

/* normalize.css */
html {line-height: 1.15; -webkit-text-size-adjust: 100%; /* 2 */}
body {margin: 0;}
main {display: block;}
h1 {font-size: 2em; margin: 0.67em 0;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
pre {font-family: monospace, monospace; font-size: 1em;}
a {background-color: transparent;}
abbr[title] {border-bottom: none; text-decoration: underline; text-decoration: underline dotted;}
b,strong {font-weight: bolder;}
code,kbd,samp {font-family: monospace, monospace; font-size: 1em;}
small {font-size: 80%;}
sub,sup {font-size: 75%; line-height: 0; position: relative;vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button,input,optgroup,select,textarea {font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0;}
button,input {overflow: visible;}
button,select {text-transform: none;}
button,[type="button"],[type="reset"],[type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {border-style: none; padding: 0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"],[type="radio"] {box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}

/* reset.css*/
* {margin: 0; padding: 0; box-sizing: border-box;}
html {font-size: 0.625em; font-family: 'Noto Sans KR', 'NotoSans', sans-serif; overflow-x: hidden;}
body {width: 100%; height: 100%;background: #fff; font-family: 'Noto Sans KR', 'NotoSans', sans-serif;}
ul,ol {list-style-type: none;}
a {text-decoration: none; color: #bcbcbc;}
h1, h2, h3, h4, h5, h6 {margin: 0; font-weight: normal;}
img {border: none;}
input {margin: 0; outline: none; border-radius: 0;}
textarea {width: 100%;}
select, label, img, input, textarea, button {vertical-align: middle;}
img, fieldset, button {border: none;}
input[type="button"] {background: none; cursor: pointer;}
button:focus {outline:none;}
table {width: 100%; border-spacing: 0; border-collapse: collapse;}
b {font-weight: normal;}
i {font-style: normal;}
address {font-style: normal;}
small {font-size: 100%;}
.clear:after {content: ""; display: block; clear: both;}
.blind {position: absolute; top: -9999px; left: -9999px;}
.btn {cursor: pointer;}
select:focus {outline: none;}
::placeholder { color: #bcbcbc;opacity: 1; /* Firefox */}
:-ms-input-placeholder {color: #bcbcbc;}
::-ms-input-placeholder {color: #bcbcbc;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {background-color: transparent;}
