<!DOCTYPE html>
<html lang="ko"><head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>부산도시공사 역사관</title>
	    <!-- css -->
	    <link rel="stylesheet" href="/history/font/font.css">
	    <link rel="stylesheet" href="/history/css/base.css?var=1">
	    <link rel="stylesheet" href="/history/plugin/slick/slick.css">
	    <link rel="stylesheet" href="/history/css/common.css">
	    <link rel="stylesheet" href="/history/css/content.css?var=1">
	    <link rel="stylesheet" href="/history/css/print.css">
	    
	    <link rel="stylesheet" href="/history/css/board2.css?var=1">
	
	    <!-- js -->
		<script src="/history/plugin/jquery/jquery.min.js"></script>
		<script src="/history/plugin/slick/slick.js"></script>
		<script src="/history/js/common.js?var=1"></script>
		<script src="/history/js/content.js"></script>
	
	</head>
	<body>
		
	    

<header id="header">
	<div class="header_inner">
		  
    </div>
    <div id="back"></div>
</header>

	
		<div id="container">

<div id="sub_visual">
    <h2>게시판 미리보기</h2>
</div>
			
<div id="side_nav">
	<div class="side_nav_inner">
		
	</div>
</div>

			<div id="contents">
            	<div class="contents_inner">
            	
					
				  <div class="content">
                    <h3 class="sub_tit">미리보기</h3>

<div class="gap40"></div>
<div id="contents">
	<div class="content">

	
	<h4 class="blind">미리보기</h4>
	
	<style>
		.mT10 li {float:none;color:#333;margin-left:30px;}
		@media all and (max-width:960px) {
			.mobileTable {overflow-x:scroll;white-space:nowrap;}
		}
		@media all and (max-width:900px) {
			.mT10 p {padding-left:40px!important;}
			.mT10 li {margin-left:5px;}
		}
		
		@media all and (max-width:640px) {
			.mT10 h1 {line-height:1;}
		}
	
	</style>
<div class="bod_wrap">
	<div class="bod_view">
		<h4>미리보기</h4>

		<div class="view_info">
			<ul class="clFix">
				<li class="view_write">
					<span>작성자</span> : 000
					
				</li>
				<li class="view_date"><span>등록일</span> : 
				
				0000-00-00
			
			
				</li>
				<li class="view_hit"><span>조회</span> : 0</li>
			</ul>
		</div>

		<div class="view_cont">
			<div class="mT10">
				미리보기
			</div>
		</div>
		<dl class="view_file clFix">
			<dt><span>첨부 파일</span></dt>
			<dd>
				첨부파일은 미리보기를 지원하지 않습니다.
			</dd>
		</dl>

	</div>

<div class="bod_foot">
	<div class="btn_wrap taR mT20">
		<a href="#" onclick="window.close()" title="미리보기 닫기">닫기</a>
	</div>
</div>
</div>

<script>
$(function (){
	$('.bod_view h4').text($(opener.document).find('#bTitle').val());
	//$('.mT10').html($(opener.document).find('#bContent_ifr').contents().find('#tinymce').html());
	$('.mT10').html($(opener.document).find('iframe').contents().find('#se2_iframe').contents().find('#editorBody').html());
	$('.mT10 table').wrap('<div class="mobileTable" />');
	$('.mT10 ul').addClass('list_style');
	$('.mT10 ol').addClass('list_style');
	$('.mT10 li').addClass('list_style');
});

</script>
</div>
</div>
</div>
</div>
</div>
</div>


</body></html>